html,
body {
  background: #26272a;
  font-family: "Fira Code", Arial;
}

.section,
.skill-section {
  width: 100%;
  height: 100vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  background-color: #26272a !important;
}

.navbar-brand {
  font-family: Arial, Helvetica, sans-serif;
}

.nav-link {
  font-size: 14px;
  color: white;
}

.navbar-dark .navbar-nav .nav-link.custom-nav-link:hover {
  color: #00c7a0 !important;
}

.nav-link-icons {
  font-size: 16px;
}

#nav-name-title {
  color: #7c7d81;
}

.home-container {
  padding-bottom: 4rem;
}

.home-title {
  color: white;
  font-size: 3rem;
  margin-bottom: 0;
}

.home-button {
  background-color: transparent;
  border: none;
  color: #00c7a0;
  font-size: 22px;
  padding-top: 4rem;
  text-decoration: underline;
}

#text-highlighter {
  color: #00c7a0;
}

.home-description {
  color: #979696;
}

.about {
  background-color: #212225;
}

.about-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subsection-heading {
  color: white;
}

.subsection-description {
  color: white;
  font-size: 1.2rem;
  text-align: justify;
}

.subsec-right-container {
  align-items: center;
  justify-content: center;
}

#about-image {
  width: 70%;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: #000; /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: #fff; /* color of the scroll thumb */
  border: 3px solid #000; /* creates padding around the scroll thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #fff; /* color of the scroll thumb when hovered */
}

/* Only For Screen Less Than Medium */

@media only screen and (max-width: 743px) {
  .home-title {
    font-size: 2rem;
  }

  .home-description {
    font-size: 0.8rem;
  }

  .subsection-description {
    color: white;
    font-size: 0.9rem;
  }

  #about-image {
    width: 40%;
    margin-bottom: 2rem;
  }

  .skill-icon-container i {
    font-size: 1.5rem;
    padding: 10px;
  }

  .skill-icon-container {
    display: block;
    margin-bottom: 20px;
  }

  .skill-section {
    height: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .about {
    height: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .skill-icon-rows {
    padding-top: 0;
    padding-bottom: 0;
  }

  #skill-icon-break {
    margin-bottom: 1rem;
  }

  .exp-section {
    height: 100%;
  }

  .exp-heading {
    width: 100%;
    padding-left: 10px;
    color: white;
  }
}
